body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
}

.mp-0 {
  margin: 0 !important;
  padding: 0 !important;
}

.mb-padrao {
  margin-bottom: 10rem;
}

.text-wk-center {
  text-align: -webkit-center !important;
}

.section-title {
  text-align: center;
}

.news-img {
  width: 100% !important;
  height: 150px !important;
}

.img-cursos{
  border-radius: 50% !important;
  width: 75% !important;
  align-self: center !important;
  margin-top: 1rem !important;
  /* padding: 30px !important; */
}