html {
  height: 100%;
}

body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 90px;
}

a {
  color: black;
}

footer {
  background-color: #213f5c;
  padding: 1.5rem;
  margin-top: auto;
}

footer p,
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
  color: white;
}

footer li {
  font-size: 12px;
  padding: 5px;
}

footer a {
  color: rgba(255, 255, 255, 0.55) !important;
}

.footer-links {
  display: flex;
  width: 100%;
  align-items: center;
}

.footer-icons {
  margin: 0 5px;
  font-size: 14px;
}

.mp-0 {
  margin: 0 !important;
  padding: 0 !important;
}

.mb-padrao {
  margin-bottom: 10rem;
}

.text-wk-center {
  text-align: -webkit-center !important;
}

.section-title {
  text-align: center;
}

.news-img {
  width: 100% !important;
  height: 150px !important;
}

.img-cursos {
  border-radius: 50% !important;
  width: 75% !important;
  align-self: center !important;
  margin-top: 1rem !important;
  /* padding: 30px !important; */
}

.card-avaliacao {
  background: rgb(255 255 255);
  padding: 14px;
  color: #000;
  border: solid 1px #63636386;
  border-radius: 20px !important;
  -webkit-transition: 0.3s all ease !important;
  transition: 0.3s all ease !important;
}

.card-avaliacao:hover {
  box-shadow: 0 0 4px 1px #00000086;
}

.name {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: -3px;
}

.place {
  font-size: 13px;
  color: #988c8c;
}

.place-2 {
  font-size: 13px;
  color: #ffffff;
}

.ratings i {
  color: #fbc02d;
}

.fa-star:before {
  font-size: 30px;
}

.cards {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.cards {
  position: relative;
  display: inline-block;
  width: 200px;
}

.cards-img {
  display: block;
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

.cards-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.cards-img-overlay-blur {
  backdrop-filter: blur(5px);
}

.cards-img-overlay-primary {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.342),
    rgba(255, 255, 255, 0)
  );
}

.cards-img-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.cards-img-overlay:hover {
  opacity: 1;
}

.cards-img-overlay:hover > * {
  transform: translateY(0);
}

.cards-img-title {
  font-size: 2em;
  font-weight: bold;
}

.cards-img-description {
  font-size: 1.25em;
  margin-top: 0.25em;
}

.col-lg-3 {
  text-align: -webkit-center !important;
}

.box-acesso,
.box-download {
  display: flex !important;
  flex-direction: column;
  margin-bottom: var(--bs-gutter-x);
  max-width: 100%;
  height: 200px;
  border-radius: 7px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(250, 250, 250, 0.3);
  border: solid 1px whitesmoke;
  -webkit-transition: background ease-out 0.2s;
  transition: background ease-out 0.2s;
}

.box-icon {
  max-width: 64px;
  max-height: 64px;
  margin-top: 0.5rem;
  margin-bottom: 10px;
  -webkit-transition: 0.3s all ease !important;
  transition: 0.3s all ease !important;
}

.icon {
  max-width: 64px;
  max-height: 64px;
  fill: #213f5c;
  -webkit-transition: 0.3s all ease !important;
  transition: 0.3s all ease !important;
}

.box-acesso:hover,
.box-download:hover {
  background-color: #213f5c;
  transform: scale(1.1);
}

.box-acesso:hover .icon {
  fill: #fff;
}

.breadcrumb-link {
  color: red;
}

.breadcrumb-link:hover {
  color: rgb(0, 0, 0) !important;
}

ol.breadcrumb::before {
  content: attr(breadcrumb-msg);
  padding-right: 10px;
}

.title-section::after {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  margin: 10px 0 0 2px;
  background: #b90000;
  border-radius: 5px;
}

.subtitle {
  color: #a3a3a3;
}

.info a:hover {
  color: black !important;
}

.info img {
  max-width: 100%;
  display: block;
}

.legenda {
  margin-top: 30px;
}

.legenda h6 {
  color: #b90000;
}

.calendario {
  border: 0px solid black;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px #767676;
}

.calendario-img {
  max-width: 75%;
}

@media (max-width: 767.98px) {
  .calendario-img {
    max-width: 100%;
  }
  .box-download {
    max-width: 100% !important;
  }
}

.box-download {
  display: block !important;
  max-width: 75%;
  height: auto;
}

.box-download:hover {
  transform: scale(1.01);
}

.tab-content:focus-visible,
.tab-pane:focus-visible {
  outline: none;
}

@media (min-width: 767.98px) {
  .border-md-end {
    border-right: 1px solid #dee2e6 !important;
  }
}

.img-noticias {
  width: 100% !important;
  height: 200px;
}

.box-noticias::after {
  background-color: #c8c8c8;
  content: "";
  display: block;
  height: 1px;
  margin-top: 32px;
}

.title-noticias{
  color: red;
}

.title-noticias:hover{
  color: #b90000 !important;
}

.nav-link{
  color: #dc3545;
}

.nav-link:hover{
  color: #b40909;
}

.form{
  padding: 10px;
  border-radius: 10px;
}

.form select{
  width: 100%;
}

.form-login{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 13px -10px;
}