a {
  text-decoration: none !important;
  display: inline-block !important;
  position: relative !important;
  -webkit-transition: 0.3s all ease !important;
  -o-transition: 0.3s all ease !important;
  transition: 0.3s all ease !important;
}

a:hover {
  text-decoration: none !important;
  color: #fff !important;
}

a.nav-transform:hover:before {
  -webkit-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  transform: scale(1) !important;
}

.navbar > .container{
  height: 74px;
}

.bg-etec{
  background-color: #3E4663;
}

.nav-link:before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  -webkit-transform: scale(0) !important;
  -ms-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition: 0.3s transform ease !important;
  -o-transition: 0.3s transform ease !important;
  transition: 0.3s transform ease !important;
  background: #fff;
}