.slider {
  width: 100%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}
